<%- include('partials/header') -%>

<div>
  <ul>
    <% for(var i=0; i<posts.length; i++) {%>
    <li>
      <%= posts[i].postedByName%>:<br>
      <a href="/post/<%= posts[i]._id%>">
        <img src="<%= posts[i].image%>">
      </a>
    </li>
    <div>
      <form action="/post/likePost/<%= posts[i]._id %>?_method=PUT" method="POST">
        <button type="submit">Like</button>
      </form>
      <h3>Likes: <%= posts[i].likes %></h3>
    <% } %>
  </ul>
</div>

<%- include('partials/footer') -%>